.DS_Store
/dist/
node_modules/
yarn-error.log

# Ignore all Observable cache except generated data
src/.observablehq/cache/**
!src/.observablehq/cache/data/
!src/.observablehq/cache/data/graph.zip
!src/.observablehq/cache/data/app_ids.json